In [3]:
# ---------------- #
# Common Libraries #
# ---------------- #

# Standard Imports
import os
import pandas as pd
import numpy as np

# Plots, Graphs, & Visualization
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.ticker import StrMethodFormatter
from matplotlib.dates import DateFormatter

# ------------- #
# Local Imports #
# ------------- #

# importing sys
import sys

# adding 00_helper_files to the system path
sys.path.insert(0, '/Users/qmcbt/codeup-data-science/00_helper_files')

# env containing sensitive access credentials
import env
from env import user, password, host
from env import get_db_url

# Import Helper Modules
import QMCBT_00_quicktips as qt
import QMCBT_01_acquire as acq
import QMCBT_02_prepare as prep
import QMCBT_03_explore as exp
import QMCBT_04_visualize as viz
import QMCBT_05_model as mod
import QMCBT_wrangle as w

import warnings 
warnings.filterwarnings("ignore")

# ACQUIRE

In [6]:
# Create SQL query.
sql_query = """
SELECT * FROM application_history 
"""
#LEFT JOIN bureau USING(SK_ID_CURR) 
#LEFT JOIN bureau_balance USING(SK_ID_BUREAU) 
#LEFT JOIN pos_cash_balance USING(SK_ID_CURR) 
#LEFT JOIN credit_card_balance USING(SK_ID_CURR) 
#LEFT JOIN client_previous_application USING(SK_ID_CURR) 
#LEFT JOIN installment_payments USING(SK_ID_CURR)
#data_dictionary
#current_applications


# Read in DataFrame from Codeup database.
application_history = pd.read_sql(sql_query, get_db_url('home_credit'))
application_history

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0

In [7]:
application_history.to_csv('application_history.csv')

In [12]:
ls

LoanApprovalPrediction.csv      bureau.csv
README.md                       loan_eligibility_SQL.ipynb
SQL_JOIN_Code.sql               loan_eligibility_working.ipynb
application_history.csv

In [16]:
#1 application_history
#2 bureau 
#3 bureau_balance
#4 pos_cash_balance
#5 credit_card_balance
#6 client_previous_application
#7 installment_payments
#8 data_dictionary
#9 current_applications

# Create SQL query
# Read in DataFrame from Codeup database.
# Write DataFrames to CSV

In [17]:
query_1 = 'SELECT * FROM application_history'
application_history = pd.read_sql(query_1, get_db_url('home_credit'))
application_history.to_csv('application_history.csv')

In [18]:
query_2 = 'SELECT * FROM bureau'
bureau = pd.read_sql(query_2, get_db_url('home_credit'))
bureau.to_csv('bureau.csv')

In [19]:
query_3 = 'SELECT * FROM bureau_balance'
bureau_balance = pd.read_sql(query_3, get_db_url('home_credit'))
bureau_balance.to_csv('bureau_balance.csv')

In [20]:
query_4 = 'SELECT * FROM pos_cash_balance'
pos_cash_balance = pd.read_sql(query_4, get_db_url('home_credit'))
pos_cash_balance.to_csv('pos_cash_balance.csv')

In [21]:
query_5 = 'SELECT * FROM credit_card_balance'
credit_card_balance = pd.read_sql(query_5, get_db_url('home_credit'))
credit_card_balance.to_csv('credit_card_balance.csv')

In [22]:
query_6 = 'SELECT * FROM client_previous_application'
client_previous_application = pd.read_sql(query_6, get_db_url('home_credit'))
client_previous_application.to_csv('client_previous_application.csv')

In [23]:
query_7 = 'SELECT * FROM installment_payments'
installment_payments = pd.read_sql(query_7, get_db_url('home_credit'))
installment_payments.to_csv('installment_payments.csv')

In [24]:
query_8 = 'SELECT * FROM data_dictionary'
data_dictionary = pd.read_sql(query_8, get_db_url('home_credit'))
data_dictionary.to_csv('data_dictionary.csv')

In [25]:
query_9 = 'SELECT * FROM current_applications'
current_applications = pd.read_sql(query_9, get_db_url('home_credit'))
current_applications.to_csv('current_applications.csv')

In [26]:
# Read them all in as DataFrames

application_history = pd.read_csv('application_history.csv')
bureau = pd.read_csv('bureau.csv')
bureau_balance = pd.read_csv('bureau_balance.csv')
pos_cash_balance = pd.read_csv('pos_cash_balance.csv')
credit_card_balance = pd.read_csv('credit_card_balance.csv')
client_previous_application = pd.read_csv('client_previous_application.csv')
installment_payments = pd.read_csv('installment_payments.csv')
data_dictionary = pd.read_csv('data_dictionary.csv')
current_applications = pd.read_csv('current_applications.csv')

In [43]:
print(f'        application_history: {application_history.shape}')
print(f'                     bureau: {bureau.shape}')
print(f'             bureau_balance: {bureau_balance.shape}')
print(f'           pos_cash_balance: {pos_cash_balance.shape}')
print(f'        credit_card_balance: {credit_card_balance.shape}')
print(f'client_previous_application: {client_previous_application.shape}')
print(f'       installment_payments: {installment_payments.shape}')
print(f'            data_dictionary: {data_dictionary.shape}')
print(f'       current_applications: {current_applications.shape}')

        application_history: (307511, 123)
                     bureau: (1716428, 18)
             bureau_balance: (27299925, 4)
           pos_cash_balance: (10001358, 9)
        credit_card_balance: (3840312, 24)
client_previous_application: (1670214, 38)
       installment_payments: (13605401, 9)
            data_dictionary: (219, 5)
       current_applications: (48744, 122)

In [53]:
df = application_history.join(bureau, on='SK_ID_CURR', how='left', lsuffix='_application_history', rsuffix='_bureau', sort=False)
df.head()

,Unnamed: 0_application_history,SK_ID_CURR_application_history,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,...,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY_bureau
0,0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,...,-2320.0,NaN,0,58590.99,0.0,NaN,0.0,Consumer credit,-762,12681.0
1,1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,...,-1090.0,NaN,0,91881.00,0.0,0.0,0.0,Consumer credit,-1085,0.0
2,2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,...,-1275.0,NaN,0,183829.50,0.0,0.0,0.0,Consumer credit,-1266,12681.0
3,3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,...,-1543.0,NaN,0,45153.00,0.0,NaN,0.0,Consumer credit,-1543,12681.0
4,4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,...,-2103.0,NaN,0,699943.50,0.0,NaN,0.0,Car loan,-2101,NaN

In [50]:
# Show duplicated columns
print(df.filter(regex='_application_history|_bureau').columns)

Index(['Unnamed: 0_application_history', 'SK_ID_CURR_application_history',
       'AMT_ANNUITY_application_history', 'Unnamed: 0_bureau',
       'SK_ID_CURR_bureau', 'AMT_ANNUITY_bureau'],
      dtype='object')

In [51]:
# Show list of all columns
columns = list(df.columns)
columns

['Unnamed: 0_application_history',
 'SK_ID_CURR_application_history',
 'TARGET',
 'NAME_CONTRACT_TYPE',
 'CODE_GENDER',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'CNT_CHILDREN',
 'AMT_INCOME_TOTAL',
 'AMT_CREDIT',
 'AMT_ANNUITY_application_history',
 'AMT_GOODS_PRICE',
 'NAME_TYPE_SUITE',
 'NAME_INCOME_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'REGION_POPULATION_RELATIVE',
 'DAYS_BIRTH',
 'DAYS_EMPLOYED',
 'DAYS_REGISTRATION',
 'DAYS_ID_PUBLISH',
 'OWN_CAR_AGE',
 'FLAG_MOBIL',
 'FLAG_EMP_PHONE',
 'FLAG_WORK_PHONE',
 'FLAG_CONT_MOBILE',
 'FLAG_PHONE',
 'FLAG_EMAIL',
 'OCCUPATION_TYPE',
 'CNT_FAM_MEMBERS',
 'REGION_RATING_CLIENT',
 'REGION_RATING_CLIENT_W_CITY',
 'WEEKDAY_APPR_PROCESS_START',
 'HOUR_APPR_PROCESS_START',
 'REG_REGION_NOT_LIVE_REGION',
 'REG_REGION_NOT_WORK_REGION',
 'LIVE_REGION_NOT_WORK_REGION',
 'REG_CITY_NOT_LIVE_CITY',
 'REG_CITY_NOT_WORK_CITY',
 'LIVE_CITY_NOT_WORK_CITY',
 'ORGANIZATION_TYPE',
 'EXT_SOURCE_1',
 'EXT_SOURCE_2',
 'EXT_SOURCE_3',
 'APARTMENTS_AVG',
 'BASEMENTAREA_AVG',
 'YEARS_BEGINEXPLUATATION_AVG',
 'YEARS_BUILD_AVG',
 'COMMONAREA_AVG',
 'ELEVATORS_AVG',
 'ENTRANCES_AVG',
 'FLOORSMAX_AVG',
 'FLOORSMIN_AVG',
 'LANDAREA_AVG',
 'LIVINGAPARTMENTS_AVG',
 'LIVINGAREA_AVG',
 'NONLIVINGAPARTMENTS_AVG',
 'NONLIVINGAREA_AVG',
 'APARTMENTS_MODE',
 'BASEMENTAREA_MODE',
 'YEARS_BEGINEXPLUATATION_MODE',
 'YEARS_BUILD_MODE',
 'COMMONAREA_MODE',
 'ELEVATORS_MODE',
 'ENTRANCES_MODE',
 'FLOORSMAX_MODE',
 'FLOORSMIN_MODE',
 'LANDAREA_MODE',
 'LIVINGAPARTMENTS_MODE',
 'LIVINGAREA_MODE',
 'NONLIVINGAPARTMENTS_MODE',
 'NONLIVINGAREA_MODE',
 'APARTMENTS_MEDI',
 'BASEMENTAREA_MEDI',
 'YEARS_BEGINEXPLUATATION_MEDI',
 'YEARS_BUILD_MEDI',
 'COMMONAREA_MEDI',
 'ELEVATORS_MEDI',
 'ENTRANCES_MEDI',
 'FLOORSMAX_MEDI',
 'FLOORSMIN_MEDI',
 'LANDAREA_MEDI',
 'LIVINGAPARTMENTS_MEDI',
 'LIVINGAREA_MEDI',
 'NONLIVINGAPARTMENTS_MEDI',
 'NONLIVINGAREA_MEDI',
 'FONDKAPREMONT_MODE',
 'HOUSETYPE_MODE',
 'TOTALAREA_MODE',
 'WALLSMATERIAL_MODE',
 'EMERGENCYSTATE_MODE',
 'OBS_30_CNT_SOCIAL_CIRCLE',
 'DEF_30_CNT_SOCIAL_CIRCLE',
 'OBS_60_CNT_SOCIAL_CIRCLE',
 'DEF_60_CNT_SOCIAL_CIRCLE',
 'DAYS_LAST_PHONE_CHANGE',
 'FLAG_DOCUMENT_2',
 'FLAG_DOCUMENT_3',
 'FLAG_DOCUMENT_4',
 'FLAG_DOCUMENT_5',
 'FLAG_DOCUMENT_6',
 'FLAG_DOCUMENT_7',
 'FLAG_DOCUMENT_8',
 'FLAG_DOCUMENT_9',
 'FLAG_DOCUMENT_10',
 'FLAG_DOCUMENT_11',
 'FLAG_DOCUMENT_12',
 'FLAG_DOCUMENT_13',
 'FLAG_DOCUMENT_14',
 'FLAG_DOCUMENT_15',
 'FLAG_DOCUMENT_16',
 'FLAG_DOCUMENT_17',
 'FLAG_DOCUMENT_18',
 'FLAG_DOCUMENT_19',
 'FLAG_DOCUMENT_20',
 'FLAG_DOCUMENT_21',
 'AMT_REQ_CREDIT_BUREAU_HOUR',
 'AMT_REQ_CREDIT_BUREAU_DAY',
 'AMT_REQ_CREDIT_BUREAU_WEEK',
 'AMT_REQ_CREDIT_BUREAU_MON',
 'AMT_REQ_CREDIT_BUREAU_QRT',
 'AMT_REQ_CREDIT_BUREAU_YEAR',
 'Unnamed: 0_bureau',
 'SK_ID_CURR_bureau',
 'SK_ID_BUREAU',
 'CREDIT_ACTIVE',
 'CREDIT_CURRENCY',
 'DAYS_CREDIT',
 'CREDIT_DAY_OVERDUE',
 'DAYS_CREDIT_ENDDATE',
 'DAYS_ENDDATE_FACT',
 'AMT_CREDIT_MAX_OVERDUE',
 'CNT_CREDIT_PROLONG',
 'AMT_CREDIT_SUM',
 'AMT_CREDIT_SUM_DEBT',
 'AMT_CREDIT_SUM_LIMIT',
 'AMT_CREDIT_SUM_OVERDUE',
 'CREDIT_TYPE',
 'DAYS_CREDIT_UPDATE',
 'AMT_ANNUITY_bureau']