In [3]:
# ---------------- #
# Common Libraries #
# ---------------- #

# Standard Imports
import os
import pandas as pd
import numpy as np

# Plots, Graphs, & Visualization
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.ticker import StrMethodFormatter
from matplotlib.dates import DateFormatter

# ------------- #
# Local Imports #
# ------------- #

# importing sys
import sys

# adding 00_helper_files to the system path
sys.path.insert(0, '/Users/qmcbt/codeup-data-science/00_helper_files')

# env containing sensitive access credentials
import env
from env import user, password, host
from env import get_db_url

# Import Helper Modules
import QMCBT_00_quicktips as qt
import QMCBT_01_acquire as acq
import QMCBT_02_prepare as prep
import QMCBT_03_explore as exp
import QMCBT_04_visualize as viz
import QMCBT_05_model as mod
import QMCBT_wrangle as w

import warnings 
warnings.filterwarnings("ignore")

# ACQUIRE

In [6]:
# Create SQL query.
sql_query = """
SELECT * FROM application_history 
"""
#LEFT JOIN bureau USING(SK_ID_CURR) 
#LEFT JOIN bureau_balance USING(SK_ID_BUREAU) 
#LEFT JOIN pos_cash_balance USING(SK_ID_CURR) 
#LEFT JOIN credit_card_balance USING(SK_ID_CURR) 
#LEFT JOIN client_previous_application USING(SK_ID_CURR) 
#LEFT JOIN installment_payments USING(SK_ID_CURR)
#data_dictionary
#current_applications


# Read in DataFrame from Codeup database.
application_history = pd.read_sql(sql_query, get_db_url('home_credit'))
application_history

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0

In [7]:
application_history.to_csv('application_history.csv')

In [12]:
ls

LoanApprovalPrediction.csv      bureau.csv
README.md                       loan_eligibility_SQL.ipynb
SQL_JOIN_Code.sql               loan_eligibility_working.ipynb
application_history.csv

In [16]:
#1 application_history
#2 bureau 
#3 bureau_balance
#4 pos_cash_balance
#5 credit_card_balance
#6 client_previous_application
#7 installment_payments
#8 data_dictionary
#9 current_applications

# Create SQL query
# Read in DataFrame from Codeup database.
# Write DataFrames to CSV

In [17]:
query_1 = 'SELECT * FROM application_history'
application_history = pd.read_sql(query_1, get_db_url('home_credit'))
application_history.to_csv('application_history.csv')

In [18]:
query_2 = 'SELECT * FROM bureau'
bureau = pd.read_sql(query_2, get_db_url('home_credit'))
bureau.to_csv('bureau.csv')

In [19]:
query_3 = 'SELECT * FROM bureau_balance'
bureau_balance = pd.read_sql(query_3, get_db_url('home_credit'))
bureau_balance.to_csv('bureau_balance.csv')

In [20]:
query_4 = 'SELECT * FROM pos_cash_balance'
pos_cash_balance = pd.read_sql(query_4, get_db_url('home_credit'))
pos_cash_balance.to_csv('pos_cash_balance.csv')

In [21]:
query_5 = 'SELECT * FROM credit_card_balance'
credit_card_balance = pd.read_sql(query_5, get_db_url('home_credit'))
credit_card_balance.to_csv('credit_card_balance.csv')

In [22]:
query_6 = 'SELECT * FROM client_previous_application'
client_previous_application = pd.read_sql(query_6, get_db_url('home_credit'))
client_previous_application.to_csv('client_previous_application.csv')

In [23]:
query_7 = 'SELECT * FROM installment_payments'
installment_payments = pd.read_sql(query_7, get_db_url('home_credit'))
installment_payments.to_csv('installment_payments.csv')

In [24]:
query_8 = 'SELECT * FROM data_dictionary'
data_dictionary = pd.read_sql(query_8, get_db_url('home_credit'))
data_dictionary.to_csv('data_dictionary.csv')

In [25]:
query_9 = 'SELECT * FROM current_applications'
current_applications = pd.read_sql(query_9, get_db_url('home_credit'))
current_applications.to_csv('current_applications.csv')

In [26]:
# Read them all in as DataFrames

application_history = pd.read_csv('application_history.csv')
bureau = pd.read_csv('bureau.csv')
bureau_balance = pd.read_csv('bureau_balance.csv')
pos_cash_balance = pd.read_csv('pos_cash_balance.csv')
credit_card_balance = pd.read_csv('credit_card_balance.csv')
client_previous_application = pd.read_csv('client_previous_application.csv')
installment_payments = pd.read_csv('installment_payments.csv')
data_dictionary = pd.read_csv('data_dictionary.csv')
current_applications = pd.read_csv('current_applications.csv')

In [38]:
application_history.join(bureau, on='SK_ID_CURR', how='left', lsuffix='application_history', rsuffix='bureau', sort=False)

,Unnamed: 0application_history,SK_ID_CURRapplication_history,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,...,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITYbureau
0,0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,...,-2320.0,NaN,0,58590.99,0.0,NaN,0.0,Consumer credit,-762,12681.0
1,1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,...,-1090.0,NaN,0,91881.00,0.0,0.0,0.0,Consumer credit,-1085,0.0
2,2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,...,-1275.0,NaN,0,183829.50,0.0,0.0,0.0,Consumer credit,-1266,12681.0
3,3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,...,-1543.0,NaN,0,45153.00,0.0,NaN,0.0,Consumer credit,-1543,12681.0
4,4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,...,-2103.0,NaN,0,699943.50,0.0,NaN,0.0,Car loan,-2101,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,...,-1072.0,NaN,0,49500.00,NaN,NaN,0.0,Consumer credit,-1068,NaN
307507,307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,...,NaN,NaN,0,450000.00,367452.0,NaN,0.0,Consumer credit,-28,NaN
307508,307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,...,-1072.0,0.0,0,49500.00,0.0,0.0,0.0,Consumer credit,-382,NaN
307509,307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,...,NaN,0.0,0,1350000.00,1277122.5,0.0,0.0,Consumer credit,-25,NaN
307510,307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,...,-2615.0,NaN,0,24084.00,0.0,0.0,0.0,Consumer credit,-851,NaN